# Blacklist all
/**

# Whitelist allowed
!/.gitignore
!/LICENSE
!/README.md

!/.pylintrc
!/Dockerfile
!/docker-compose.dev.yml
!/requirements.txt

!/.vscode/
!/.vscode/settings.json

!/.github/
!/.github/workflows/
!/.github/workflows/docker-hub.yml

!/app/
!/app/__init__.py
!/app/main.py

!/app/core/
!/app/core/__init__.py
!/app/core/auth.py
!/app/core/email.py
!/app/core/settings.py

!/app/crud/
!/app/crud/__init__.py
!/app/crud/users.py
!/app/crud/verif_tokens.py

!/app/db/
!/app/db/__init__.py
!/app/db/models.py
!/app/db/mongo.py

!/app/models/
!/app/models/__init__.py
!/app/models/token.py
!/app/models/user.py

!/app/routers/
!/app/routers/__init__.py
!/app/routers/auth.py
!/app/routers/users.py

!/app/tests/
!/app/tests/test_crud_users.py
!/app/tests/test_main.py

!/jwt-keys/
!/jwt-keys/.gitkeep