# Blacklist all
/**

# Whitelist allowed
!/.gitignore
!/LICENSE
!/README.md

!/.pylintrc
!/Dockerfile
!/docker-compose.dev.yml
!/pytest.ini
!/requirements.txt
!/start-dev.sh

!/.vscode/
!/.vscode/settings.json

!/.github/
!/.github/workflows/
!/.github/workflows/docker-hub.yml

!/harbor/
!/harbor/__init__.py
!/harbor/app.py

!/harbor/core/
!/harbor/core/__init__.py
!/harbor/core/auth.py
!/harbor/core/db.py
!/harbor/core/email.py
!/harbor/core/settings.py

!/harbor/repository/
!/harbor/repository/__init__.py

!/harbor/repository/mongo/
!/harbor/repository/mongo/__init__.py
!/harbor/repository/mongo/common.py
!/harbor/repository/mongo/refresh_tokens.py
!/harbor/repository/mongo/users.py
!/harbor/repository/mongo/verif_tokens.py

!/harbor/domain/
!/harbor/domain/__init__.py
!/harbor/domain/common.py
!/harbor/domain/email.py
!/harbor/domain/token.py
!/harbor/domain/user.py

!/harbor/rest/
!/harbor/rest/__init__.py
!/harbor/rest/auth.py
!/harbor/rest/search.py
!/harbor/rest/users.py

!/requirements/
!/requirements/dev.txt
!/requirements/prod.txt
!/requirements/test.txt

!/tests/
!/tests/__init__.py
!/tests/test_crud_users.py
!/tests/test_main.py

!/jwt-keys/
!/jwt-keys/.gitkeep