# Blacklist all
/**

# Whitelist allowed
!/.gitignore
!/LICENSE
!/README.md

!/.pylintrc
!/Dockerfile
!/docker-compose.dev.yml
!/pytest.ini
!/requirements.txt
!/start-dev.sh

!/.vscode/
!/.vscode/settings.json

!/.github/
!/.github/workflows/
!/.github/workflows/docker-hub.yml

!/harbor/
!/harbor/__init__.py
!/harbor/app.py

!/harbor/core/
!/harbor/core/__init__.py
!/harbor/core/auth.py
!/harbor/core/db.py
!/harbor/core/email.py
!/harbor/core/settings.py

!/harbor/domain/
!/harbor/domain/__init__.py
!/harbor/domain/common.py
!/harbor/domain/email.py
!/harbor/domain/token.py
!/harbor/domain/user.py

!/harbor/repository/
!/harbor/repository/__init__.py
!/harbor/repository/base.py

!/harbor/repository/mongo/
!/harbor/repository/mongo/__init__.py
!/harbor/repository/mongo/common.py
!/harbor/repository/mongo/refresh_tokens.py
!/harbor/repository/mongo/users.py
!/harbor/repository/mongo/verif_tokens.py

!/harbor/rest/
!/harbor/rest/__init__.py
!/harbor/rest/auth.py
!/harbor/rest/search.py
!/harbor/rest/users.py

!/harbor/use_cases/
!/harbor/use_cases/__init__.py

!/harbor/use_cases/search/
!/harbor/use_cases/search/__init__.py
!/harbor/use_cases/search/all.py

!/harbor/use_cases/user/
!/harbor/use_cases/user/__init__.py
!/harbor/use_cases/user/login.py
!/harbor/use_cases/user/register.py
!/harbor/use_cases/user/register_verify.py
!/harbor/use_cases/user/update_profile.py
!/harbor/use_cases/user/verify.py

!/jwt-keys/
!/jwt-keys/.gitkeep

!/requirements/
!/requirements/dev.txt
!/requirements/prod.txt
!/requirements/test.txt

!/tests/
!/tests/__init__.py
!/tests/conftest.py

!/tests/repository/
!/tests/repository/__init__.py

!/tests/repository/mongo/
!/tests/repository/mongo/__init__.py
!/tests/repository/mongo/test_crud_users.py

!/tests/rest/
!/tests/rest/__init__.py
!/tests/rest/test_app.py
!/tests/rest/test_auth.py

!/tests/use_cases/
!/tests/use_cases/__init__.py

!/tests/use_cases/search/
!/tests/use_cases/search/__init__.py
!/tests/use_cases/search/test_all.py

!/tests/use_cases/user/
!/tests/use_cases/user/__init__.py
!/tests/use_cases/user/test_login.py
!/tests/use_cases/user/test_register.py
!/tests/use_cases/user/test_update_profile.py
!/tests/use_cases/user/test_verify.py