# Generic
wheel
pylint
autopep8

# FastAPI
uvicorn
fastapi
python-multipart

# Pydantic
email_validator

# Database
motor

# JWT
pyjwt[crypto]
passlib[bcrypt]
aiofiles

# Tests
pytest
pytest-asyncio
requests

# Email
aiosmtplib